@*messages 10 mins*@
<div class="col-md-8" style="display:flex; justify-content:space-between;">
    <form method="post">
        <input type="submit" id="oneMinBtn" value="Сообщения за последнюю минуту" class="btn btn-primary" />
    </form>
    <form method="post">
        <input type="submit" id="tenMinBtn" value="Сообщения за последние 10 минут" class="btn btn-dark" />
    </form>
</div>
<div id="Messages">

</div>
<script src="/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/messages")
        .build();
    let connectionId = "";
    document.getElementById("oneMinBtn")
        .addEventListener("click", function (e) {
            e.preventDefault();

            const data = new FormData();
            //data.append("start", document.getElementById("productField").value);
            data.append("connectionId", connectionId);

            //console.log("Start oneMinBtn");

            fetch("/MessageApi/GetLast1MinMessages", {
                method: "POST",
                body: data
            })
                .catch(error => console.error("Error: ", error));
        });

    document.getElementById("tenMinBtn")
        .addEventListener("click", function (e) {
            e.preventDefault();

            const data = new FormData();
            //data.append("start", document.getElementById("productField").value);
            data.append("connectionId", connectionId);

            //console.log("Start oneMinBtn");

            fetch("/MessageApi/GetLast10MinMessages", {
                method: "POST",
                body: data
            })
                .catch(error => console.error("Error: ", error));
        });

    function addMessage(message, msgOrder, msgDateTime) {
        let msgOrderElem = document.createElement("b");
        msgOrderElem.appendChild(document.createTextNode(msgOrder + ': '));

        let msgDateTimeElem = document.createElement("i");
        msgDateTimeElem.appendChild(document.createTextNode(msgDateTime + " | "));

        let elem = document.createElement("p");
        elem.appendChild(msgDateTimeElem);
        elem.appendChild(msgOrderElem);
        elem.appendChild(document.createTextNode(message));

        document.getElementById("Messages").appendChild(elem);
    }

    hubConnection.on("Receive", function (data) {
        console.log("Start Receive");
        document.getElementById("Messages").innerHTML = "";
        for (let i = 0; i < data.length; i++) {

            addMessage(data[i].text, data[i].order, data[i].serverDateTime);
        }
    });

    hubConnection.start().then(() => {
        console.log(hubConnection.connectionId);
        connectionId = hubConnection.connectionId;
    });
</script>