@model Koshelek.TestTask.Domain.Entities.Message

@*Messages*@


<div id="chatroom"></div>
<script src="/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/messages")
        .build();

    hubConnection.on("Send", function (message, msgId) {

        let msgIdElem = document.createElement("b");
        msgIdElem.appendChild(document.createTextNode(msgId + ': '));

        let elem = document.createElement("p");
        elem.appendChild(msgIdElem);
        elem.appendChild(document.createTextNode(message));

        document.getElementById("chatroom").appendChild(elem);

    });

    

    hubConnection.start();
</script>
