@model Koshelek.TestTask.Domain.Entities.Message

@*Messages*@


<div id="Messages"></div>
<script src="/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/messages")
        .build();

    function addMessage(message, msgId, msgDateTime) {
        let msgIdElem = document.createElement("b");
        msgIdElem.appendChild(document.createTextNode(msgId + ': '));

        let msgDateTimeElem = document.createElement("i");
        msgDateTimeElem.appendChild(document.createTextNode(msgDateTime + " | "));

        let elem = document.createElement("p");
        elem.appendChild(msgDateTimeElem);
        elem.appendChild(msgIdElem);
        elem.appendChild(document.createTextNode(message));

        document.getElementById("Messages").appendChild(elem);
    }

    hubConnection.on("Send", function (message, msgId, msgDateTime) {
        addMessage(message, msgId, msgDateTime);

    });

    hubConnection.on("ReceiveMessage", function (message) {
        addMessage(message.text, message.id, message.serverDateTime);

    });
    

    hubConnection.start();
</script>
