@model Koshelek.TestTask.Domain.Entities.Message

<div class="panel panel-primary">
    <div class="panel-heading">
        Отправить
    </div>
    <div class="panel-body">
        <form asp-action="Sender">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" value="null" />
            <input type="hidden" asp-for="ServerDateTime" value="null" />
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
